# Ignorar archivos de entorno
.env
.env.local
.env.*.local

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar dependencias de virtualenv
entornoV/
venv/
.env/

# Ignorar logs y archivos temporales
*.log
*.sqlite3
